@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&displsy=swap');

:root{
	--primary-color:#2c3855;
	--primary-color-dark:#435681;
	--text-dark:#333333;
	--text-light:#767268;
	--extra-light:#f3f4f6;
	--white:#ffffff;
	--max-width:1200px;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.section_container{
	max-width:var(--max-width);
	margin:auto;
	padding:5rem 1rem;
}

.section_header{
	font-size: 2rem;
	font-weight: 600;
	color:var(--text-dark);
	text-align: center;
}

a{
	text-decoration: none;
}

img{
	width:100%;
	display:flex;
}

body{
	font-family: "Poppins",sans-serif;
}

nav{
	max-width: var(--max-width);
	margin:auto;
	padding:2rem 1rem;
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.nav_logo{
	font-size: 1.5rem;
	font-weight: 600;
	color:var(--text-dark);
}

.nav_links{
	list-style: none;
	display: flex;
	align-items: center;
	gap:2rem;
}

.link a{
	font-weight: 500;
	color: var(--text-light);
	transition: 0.3s;
}

.link a:hover{
	color:var(--primary-color);
}

.header_container{
	padding:1rem 1rem 5rem 1rem;
}

.header_image_container{
	position:relative;
	min-height: 500px;
	background-image: url("https://media.istockphoto.com/id/1779682109/photo/k-pop-fan-raise-bomb-light-stick-lamp-korean-kpop-music-concert-asian-bts-band.jpg?s=612x612&w=0&k=20&c=DVq6MI-J4e6bR2A5ej2kEXzLWtsMhn-PrLoSvhvdtGQ=");
	background-color: linear-gradient(to right,rgba(44,56,85,.9),rgba(100,125,187,.1));
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 2rem;
}

.header_content{
	max-width:600px;
	padding:5rem 2rem;
}

.header_content h1{
	margin-bottom: 1rem;
	font-size: 3.5rem;
	line-height: 4rem;
	font-weight: 600;
	color:var(--white);
}

.header_content p{
	color:var(--extra-light);
}

.popular_grid{
	margin-top:4rem;
	display:grid;
	grid-template-columns: repeat(3,1fr);
	gap:2rem;
}

.popular_card{
	overflow:hidden;
	border-radius: 1rem;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}

.popular_content{
	padding:1rem;
}

.popular_card_header{
	display:flex;
	align-items: center;
	justify-content: space-between;
	gap:1rem;
	margin-bottom:0.5rem;
}

.popular_card_header h4{
	font-size: 1.2rem;
	font-weight: 600;
	color:var(--text-dark);
}

.popular_content p{
	color:var(--text-light);
}
footer{
  width: 100%;
  background-color: skyblue;
  color: purple;
  bottom: 0;
  position: absolute;padding: 10px 0 30px;border-top-left-radius: 125px;line-height: 20px;
}

.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
}
.footer-content h2{
  size: 2rem;
  text-transform: uppercase;
}
.footer-content p{
  max-width: 700px;
  opacity: 0.7;
  margin: 10px 0;
  cursor:pointer;
}
.footer-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}
